html {
  height: 100%;
}

body {
  position: static !important;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: 100vh;
}

main {
  display: block;
}

.grid-container {
  width: 100%;
}

*:last-child {
  margin-bottom: 0;
}

/* Preloader */

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.preloader {
  position: fixed;
  z-index: 100000000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  visibility: visible;
  opacity: 1;
  background-color: $white;
  color: $primary-color;
  transition: opacity 0.4s ease, visibility 0.4s ease;

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--hidden {
    visibility: hidden;
    opacity: 0;
  }
}

/* Position center */

.position-center {
  @include absolute-center;
}

/* Search form */

.search {
  position: relative;

  .posts-list & {
    margin-bottom: 40px;
  }
}

.search__input {
  padding-right: 75px;
}

.search__submit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: auto;
  padding: 10px 15px;
  cursor: pointer;
}

//use @extend %bgcover; to selector if you need background cover;

%bgcover {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.bg-cover {
  @extend %bgcover;
}

//use @extend %bgcontain; to selector if you need contain image in block;

%bgcontain {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: contain;
}

.bg-contain {
  @extend %bgcontain;
}

.stretched-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.rel-content {
  position: relative;
  z-index: 2;
}

.of-cover,
.stretched-img {
  object-fit: cover;
  font-family: 'object-fit: cover;';
}

.two-columns {
  @include breakpoint(medium) {
    columns: 2;
  }
}

.three-columns {
  @include breakpoint(medium) {
    columns: 3;
  }
}

.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: '';
  background-color: transparentize($black, 1);
}

img {
  &[data-lazy-src] {
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
  }

  &.pre-lazyload {
    opacity: 0;
  }

  &.lazyloaded {
    opacity: 1;
  }
}
