//.contact {
//}

.contact__content {
  margin-bottom: 50px;
}

.contact__form {
  margin-bottom: 50px;
}

.contact__map-wrap {
  margin-top: 50px;
}

.contact__map {
  height: 450px;
}

.contact__content {
  margin-bottom: 50px;
}

.contact-link {
  position: relative;
  padding-left: 30px;

  a {
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
